@use '../foundation/variables'as v;

.profile {
  &-container {
    display: grid;
    row-gap: 20px;

    @include v.mq() {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-left {
    &-top {
      margin-bottom: 32px;

      &-text {
        @include v.rem(15);

        @include v.mq() {
          @include v.rem(16);
        }
      }

      &-list {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        a {
          color: v.$c-main;
          font-family: v.$f-en;
          text-decoration: underline;
        }
      }
    }

    &-bottom {
      &-img {
        float: left;
        margin-right: 10px;
      }

      &-text {
        @include v.rem(14);
      }
    }
  }

  &-right {
    @include v.mq() {
      margin-left: 50px;
    }
  }
}

.fade-in {
  opacity: 0;
  transition: all 3s;
}

.fade-in-show {
  opacity: 1;
}